html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,*::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: #0d6cb1;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.25em;
  font-family: 'Courgette', cursive;
  font-size: 0.75rem;
}

body {
  margin: 0;
}

header {
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.nav li:last-child {
  border-right: 0;
}
.nav a {
  display: block;
  background-color: #c0141b;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: 'Courgette', cursive;
  padding: 1em 0em;
  }

img {
  width: 100%;
}

.tex {
  font-family: 'Courgette', cursive;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.bil {
  background-image: url("../images/billboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
}

h2 {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #0d6cb1;
}

p {
  padding: 0 1em;
  font-family: 'EB Garamond', serif;
  line-height: 1;
}

h3 {
  font-family: 'Courgette', cursive;
  color: #c0141b;
  padding: 0 1em;
  margin: 0;
}
