html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,*::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: #0d6cb1;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.25em;
  font-family: 'Courgette', cursive;
  font-size: 0.75rem;
}

body {
  margin: 0;
  padding-bottom: 50px;
}

header {
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  display: inline-block;
  width: 33.3333%;
  float: left;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0;
}

.nav li:last-child {
  border-right: 0;
}
.nav a {
  display: block;
  background-color: #c0141b;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: 'Courgette', cursive;
  padding: 1em 0em;
  }

img {
  width: 100%;
}

.tex {
  font-family: 'Courgette', cursive;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.bil {
  background-image: url("../images/billboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  padding-top: 102px;
}

h2 {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #0d6cb1;
}

p {
  padding: 0 1em;
  font-family: 'EB Garamond', serif;
  line-height: 1.1;
}

h3 {
  font-family: 'Courgette', cursive;
  color: #c0141b;
  padding: 0 1em;
  margin: 0;
  padding-top: 0.5em;
}

.spec {
  margin-top: 0;
}

footer {
  background-color: #0d6cb1;
  text-align: center;
  padding: 1em;
  font-family: 'Courgette', cursive;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  background-color: #0d6cb1;
}

footer:hover {
  background-color: #c0141b;
}

.fix {
  position: fixed;
  height: auto;
  min-height: 100%;
  width: 100%;
  }

.map {
  position: relative;
  display: block;
}

h4 {
  font-family: 'Courgette', cursive;
  padding: 0 1em;
  margin: 0;
  padding-top: 0.25em;
}

.info {
  margin: 0.1em;
}

.sun {
  margin: 0.1em;
  padding-bottom: 1em;
}

.social {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social li {
  display: inline-block;
  width: 33.3333%;
  float: left;
}

.social a {
  display: block;
  padding: 1em 0em;
  background-color: #0d6cb1;
  padding-left: 2.22em;
}

.svg {
  position: absolute;
  width: auto;
}

.head {
  background-color: #0d6cb1;
  padding: 0 138px;
  margin: 0;
  padding-bottom: 0;
  display: block;
}
